:root {
    --viewport-xs: 320px;
    --viewport-sm: 375px;
    --viewport-sm-alt: 576px;
    --viewport-md: 768px;
    --viewport-lg: 992px;
    --viewport-xl: 1200px;
    --viewport-xxl: 1400px;
    --viewport-1929: 1929px;
    --viewport-2560: 2560px;
}