.schedule-container {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.schedule-item {
    cursor: pointer;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: 62px 1fr;
    align-items: center;
    padding: 20px;
    height: 60px;
    overflow: hidden;
}

.schedule-item.active {
    height: 150px;
    grid-template-columns: 1fr;
}

.schedule-summary {
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    font-size: 16px;
}

.left-border-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}